@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
*{
    font-family: 'Kanit', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.box-shadow42 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

div a.active {
    text-decoration: none !important;
}
.ant-btn {
    height: 40px;
}
.ant-btn-primary {
    background-color: #1677ff !important;
}